@use 'sass:map';

$breakpoints: (
  pc-large: "(min-width: 1024px)",
  pc: "(min-width: 900px)",
  tb: "(max-width: 899px)",
);

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
