@use '../../global' as g;

// el_sectionLabel
// ボタンはmodで　幅208px 高さ48px 角丸24px 枠線2px 塗無しが基本形

// ナビゲーションボタン
// ================================
.el_navBtn {
  box-sizing: content-box;
  width: 20px;
  height: 14px;
  padding: 0;
  color: g.$color-primary;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &::before,
  &::after {
    display: block;
    height: 2px;
    content: "";
    background-color: currentColor;
    transform: translateY(5px);
  }

  &::before {
    box-shadow: 0 6px currentColor;
    transform: translateY(-5px);
  }
}
