@use '../../global' as g;

// el_sectionLabel
// ボタンはmodで　幅208px 高さ48px 角丸24px 枠線2px 塗無しが基本形

// ロゴ
// _______________________
.el_logoTitle {
  width: 42px;

  @include g.mq(pc) {
    width: 59px;
  }

  &.el_logoTitle__large {
    width: 47px;
  }
}

// 丸型ボタン
// ________________________________
.el_roundedBtn {
  display: inline-block;
  width: 208px;
  padding: 11px 11px 13px;
  font-size: 16px;
  font-weight: bold;
  color: g.$color-primary;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 24px;

  &.el_roundedBtn__cInherit {
    color: inherit;
  }
}

// 送信ボタン
// ================================
.el_submitBtn {
  display: inline-block;
  width: 100%;
  padding: 11px 11px 13px;
  font-size: 16px;
  font-weight: bold;
  color: g.$color-WT;
  text-align: center;
  cursor: pointer;
  background-color: g.$color-primary;
  border-radius: 24px;

  @include g.mq(pc) {
    width: 272px;
  }
}

.el_addTxt {
  font-size: 12px;
  line-height: 2;
  color: g.$color-WT;
}
