@use '../../global' as g;

// ヘッダー
// ______________________
.bl_headerSite {
  display: flex;
  align-items: center;

  > .el_logoTitle {
    margin-right: 10px;

    @include g.mq(pc) {
      margin-right: 18px;
    }
  }
}

.bl_headerSite_ttl {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  color: g.$color-DKGray;

  @include g.mq(pc) {
    font-size: 20px;
  }
}

.bl_headerSite_txt {
  font-size: 10px;
  line-height: 1.4;
  color: g.$color-MDGray;

  @include g.mq(pc) {
    font-size: 12px;
  }
}

.bl_headerBtn {
  width: 20px;
  height: 14px;
  padding: 0;
  color: g.$color-primary;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &::before,
  &::after {
    display: block;
    height: 2px;
    content: "";
    background-color: currentColor;
    transform: translateY(5px);
  }

  &::before {
    box-shadow: 0 6px currentColor;
    transform: translateY(-5px);
  }
}

// メインビジュアル
// ================================
.bl_MV {
  display: flex;
  height: 400px;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;

  @include g.mq(pc) {
    height: 700px;
  }
}

.bl_MV_catch {
  flex: 1;
  align-self: flex-end;
  padding: 33px 0;
  background-color: rgba(white, 0.76);

  @include g.mq(pc) {
    padding: 47px 0 44px;
  }
}

.bl_MV_txt {
  margin-bottom: 15px;
  font-size: 14px;
  color: g.$color-primary;

  @include g.mq(pc) {
    margin-bottom: 22px;
    font-size: 16px;
  }
}
