@use '../../global' as g;

// ヘッダー
// ______________________
.bl_site {
  display: flex;
  align-items: center;
}

.bl_site_ttl {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  color: g.$color-DKGray;

  @include g.mq(pc) {
    font-size: 20px;
  }

  &.bl_site_ttl__white {
    color: g.$color-WT;
  }

  &.bl_site_ttl__large {
    font-size: 16px;

    @include g.mq(pc) {
      font-size: 20px;
    }
  }
}

.bl_site_txt {
  font-size: 10px;
  line-height: 1.4;
  color: g.$color-MDGray;

  @include g.mq(pc) {
    font-size: 12px;
  }
}

.bl_headerBtn {
  width: 20px;
  height: 14px;
  padding: 0;
  color: g.$color-primary;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &::before,
  &::after {
    display: block;
    height: 2px;
    content: "";
    background-color: currentColor;
    transition: 0.3s ease-in-out;
    transform: translateY(5px);
  }

  &::before {
    box-shadow: 0 6px currentColor;
    transform: translateY(-5px);
  }
}

// メインビジュアル
// ================================
.bl_MV {
  display: flex;
  height: 400px;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;

  @include g.mq(pc) {
    height: 700px;
  }
}

.bl_MV_catch {
  flex: 1;
  align-self: flex-end;
  padding: 33px 0;
  background-color: rgba(white, 0.76);

  @include g.mq(pc) {
    padding: 47px 0 44px;
  }
}

.bl_MV_txt {
  margin-bottom: 15px;
  font-size: 14px;
  color: g.$color-primary;

  @include g.mq(pc) {
    margin-bottom: 22px;
    font-size: 16px;
  }
}

// メッセージエリア
// ================================
.bl_MSG {
  padding: 67px 0;
  color: g.$color-WT;
  background-color: g.$color-primary;

  @include g.mq(pc) {
    padding: 81px 0;
  }
}

.bl_MSG_ttl {
  margin-bottom: 38px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;

  @include g.mq(pc) {
    font-size: 36px;
    line-height: 1.33;
  }

  @include g.mq(sp-small) {
    font-size: 20px;
  }
}

.bl_MSG_txt {
  max-width: 640px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.86;
}

// サービス
// ================================
.bl_service {
  padding: 67px 0;
  text-align: center;

  @include g.mq(pc) {
    padding: 95px 0 87px;
  }
}

.bl_service_ttl {
  display: inline-block;
  padding-bottom: 9px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  color: g.$color-primary;
  border-bottom: 2px dotted currentColor;

  @include g.mq(pc) {
    font-size: 36px;
  }
}

.bl_service_txt {
  margin-bottom: 53px;
  font-size: 16px;
  color: g.$color-primary;
}

// カード
// ================================
.bl_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: g.$color-DKGray;

  > .el_roundedBtn {
    margin-top: auto;
  }
}

.bl_card_imgWrapper {
  height: 246px;
  margin-bottom: 22px;

  @include g.mq(pc) {
    height: 360px;
    margin-bottom: 33px;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

.bl_card_ttl {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.75;

  @include g.mq(pc) {
    font-size: 30px;
  }
}

.bl_card_txt {
  max-width: 264px;
  margin: 0 auto 25px;
  font-size: 12px;
  line-height: 2;

  @include g.mq(pc) {
    width: 78%;
    max-width: none;
  }
}

// カード ラッパー
// ================================
.bl_cardUnit {
  margin-bottom: -67px;

  @include g.mq(pc) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  > .bl_card {
    margin-bottom: 67px;

    @include g.mq(pc) {
      margin-bottom: 0;
    }
  }
}

// カード ラッパー 3列
.bl_cardUnit__col3 {
  > .bl_card {
    @include g.mq(pc) {
      flex: 1;
      margin-right: percentage(40 / 1240);
    }

    &:nth-child(3n) {
      @include g.mq(pc) {
        margin-right: 0;
      }
    }
  }
}

// お問い合わせ
// ================================
.bl_contact_wrapper {
  padding: 62px 0;
  color: g.$color-DKGray;
  background-color: g.$color-LGray;

  @include g.mq(pc) {
    padding: 0;
    background: none;
  }
}

.bl_contact {
  @include g.mq(pc) {
    display: flex;
    justify-content: space-between;
    padding: 96px 9% 62px;
    background-color: g.$color-LGray;
  }
}

.bl_contact_head {
  @include g.mq(pc) {
    flex: 0 0 auto;
  }
}

.bl_contact_body {
  margin-top: 46px;

  @include g.mq(pc) {
    flex: 1 1 auto;
    max-width: 457px;
    margin-top: 0;
    margin-left: 1em;
  }
}

.bl_contact_ttl {
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: bold;

  @include g.mq(pc) {
    font-size: 36px;
  }
}

.bl_contact_txt {
  font-size: 12px;
  line-height: 2.17;

  @include g.mq(pc) {
    font-size: 14px;
    line-height: 1.86;
  }
}

// フォーム
// ================================
.bl_form {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 17px 20px 14px;
    margin-bottom: 17px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: g.$color-DKGray;
    background-color: g.$color-WT;
    border: 1px solid g.$color-Gray;
  }

  textarea {
    height: 150px;
  }

  ::placeholder {
    color: g.$color-Gray;
    opacity: 1;
  }
}

// SNSメニュー
// ================================
.bl_snsMenu {
  display: flex;
  margin-left: 61px;

  @include g.mq(pc) {
    align-items: center;
    height: 59px;
  }

  > li {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bl_snsMenu_img {
  width: 35px;
}

// メインナビゲーション
// ================================
.bl_mainNav_wrapper {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: g.$color-WT;
  background-color: rgba(black, 0.8);
  transition: left 0.5s;
}

.bl_mainNav {
  font-weight: bold;
  text-align: center;

  > li:not(:last-child) {
    margin-bottom: 40px;
  }
}
