@use '../global' as g;

// js_open
// ================================
.js_open {
  .el_navBtn {
    z-index: 100;
    color: g.$color-WT;

    &::before {
      box-shadow: none;
      transform: translateY(1px) rotate(45deg);
    }

    &::after {
      transform: translateY(-1px) rotate(-45deg);
    }
  }

  .bl_mainNav_wrapper {
    left: 0;
  }
}
