@use '../global' as g;

.js_open {
  .bl_mainNav_wrapper {
    left: 0;
  }

  .bl_headerBtn {
    z-index: 100;
    color: g.$color-WT;
  }
}

html.js_open,
.js_open body {
  height: 100%;
  overflow: hidden;
}
