@use '../global' as g;

.ly_cont {
  width: 84%;
  margin: 0 auto;

  @include g.mq(pc) {
    width: 91%;
    max-width: g.$max-width;
  }
}

.ly_col {
  display: flex;

  &.ly_col__cRev {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.ly_header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;

  @include g.mq(pc) {
    height: 100px;
  }
}
